
.list {
  list-style-type: none;
 }
 .SaveButton {
   background-color: #59748C;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  border-radius: 4px;
 }
