.button {
  background-color: #59748C;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  flex-direction: row;
}
.caption {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #59748C,
    0 0 70px #59748C, 0 0 80px #59748C, 0 0 100px #59748C, 0 0 150px #59748C;
  color: #59748C;
  font-weight: bold;
}
.form {
  border-color: #59748C;
  border-radius: 4px;
  
}
.tags {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #59748C,
    0 0 70px #59748C, 0 0 80px #59748C, 0 0 100px #59748C, 0 0 150px #59748C;
  color: #59748C;
  font-weight: bold;
}
