.photo {
  font-family: "Lucida Console", Courier, monospace;
  color: #9AB5C1;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #fff,
0 0 20px #fff,
0 0 30px #fff,
0 0 40px #fff,
0 0 70px #fff,
0 0 80px #59748C,
0 0 100px #59748C,
0 0 150px #59748C;
  display: "flex";
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 400px;
  margin: 200px;
  text-align: center;
  text-emphasis: none;
  font-size: larger;
  font-weight: bolder;
  font-size: 2rem;
}
.photo:after {
  content: "Upload Picture";
  font-family: "Lucida Console", Courier, monospace;
	position: absolute; left: 394px; top: 200px;
  color: #59748C;
  
}
.input {
  background-color: white;
}
