


.image {
    
    width: 500px;
  height: 500px;
  margin: 200px;

}
.randomButton {
    width: 100px;
  height: 100px;
  margin: 600px;
}
.randomImageButton {
    width: 100px;
  height: 100px;
  margin: 600px;
}
