.randomImageButton {
  margin-top:250px;
  margin-left: 36%;
  
}
.randomButton {
  color: white;
 position: relative;
  background-color: #233142;
  border: none;
  border-radius: 4px;
  font-size: 5.5rem;
  letter-spacing: 2px;
   text-align: center;
  font-size: 2.2rem;
  font-family: "Open Sans";
  position: absolute;
  left: 52%;
  top: 25%;
  transform: translate3d(-50%, -35%, 0);
  
}
.randomButton:hover {
  
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
}
.image {
  width: 450px;
  height:400px;
  
}
.check {
  margin-left: 15%;
}

